.Banner {
  height: 488px;
  color: white;
  padding-left: 10px;
  overflow: hidden;
  &:hover{
    cursor: pointer;
  }
  .Title {
    font-size: 30px;
    padding-top: 200px;
  }
  .OverView {
    word-wrap: break-word;
    width: 40%;
    height: 100px;
  }
}
