.body {
  color: white;
  font-size: 30px;

  .text {
    padding-left: 30px;
    padding-top: 30px;
  }
  .list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 20px;
    .gridItems {
      padding: 10px;
    }
    .gridImage {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
